# Dependencies
/node_modules

# Build artifacts
/dist
/build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite-specific
.env.local
.env.*.local

# Testing
/coverage

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
